.terms-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px; 
  height: 820px;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  transition: height .2s ease;
}

.terms-box {
  width: 500px;
  padding: 40px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.terms-box h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.terms-box p {
  font-size: 16px;
  margin-bottom: 20px;
}

.terms-box .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

.terms-box .approve-button {
  width: 100px;
  height: 40px;
  background: #fff; 
  color: #333;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-left: auto; 
}

.terms-box .cancel-button {
  width: 100px;
  height: 40px;
  background: #fff; 
  color: #333;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-top: -40px;
  margin-right: auto; 
}

.terms-box .approve-button:hover,
.terms-box .cancel-button:hover {
  background: #ccc;
}
