.status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 820px;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  transition: height 0.2s ease;
}

.status-box {
  width: 500px;
  height: 820px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #333;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.status-box h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.status-box p {
  font-size: 16px;
  margin-bottom: 20px;
}

.status-box .logout-button {
  width: 100px;
  height: 40px;
  background: #333;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.status-box .logout-button:hover {
  background: #555;
}

.ad-skip {
  width: 120px;
  color: black;
  text-align: center;
  font-size: small;
  font-weight: bold;
}
.ad-skip.disabled {
  font-weight: normal;
}
